.subscribe-form{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #0167af;
}
.subscribe-btn{
    border: 0;
    border-bottom: 2px solid #0167af;
}

.card-gradient{
    color: #fdfafa;
    background-image: linear-gradient(to right, #2ea9b1, #0167af);
}
